 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.YourColorHistory, p {
    color: black;
    font-size: 30px;
    margin: 100px 0 0 40px;
}

.lines {
    /* margin: 0 0 40px 0; */
    color: #B7B7B7;
}

.Show-History-Results {
    display: ruby;
    padding: 0 0 0 40px;
    color: black;
}
.CircleHistory{
    height: 45px;
    width: 50px;
    border-radius: 60%;  
    margin: 0 20px 0 0;
}
.circle {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px;
}

.MainCircle {
    display: flex;
}

#Circle, #Circle1, #Circle2 {
    position: relative;
    left: 40%;
    bottom: 65px;
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    border-radius: 50%;
}

#Circle1 {
    margin: 0 70px 0;
}

.ColorName {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 0 25%;
}

.color1 {
    position: relative;
    left: 42px;
}

.color2 {
    position: relative;
    left: 40px;
}

.color3 {
    position: relative;
    left: 4%;
}

.button {
    display: flex;
    justify-content: center;
    margin: 7% 0 0 34%;
    cursor: pointer;
}
 
.main-circle-wrapper {
    position: fixed;
    top: 60%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 80%;  
}